@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 38% 97%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 222 73% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 10% 93%;
    --secondary-foreground: 222 73% 12%;
    --muted: 40 10% 93%;
    --muted-foreground: 240 7% 29%;
    --accent: 40 10% 93%;
    --accent-foreground: 222 73% 12%;
    --destructive: 0 65% 29%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 10% 88%;
    --input: 40 10% 88%;
    --ring: 222 73% 12%;
    --radius: 0.25rem;
  }

  .dark {
    --background: 222 73% 8%;
    --foreground: 43 38% 97%;
    --card: 222 73% 10%;
    --card-foreground: 43 38% 97%;
    --popover: 222 73% 10%;
    --popover-foreground: 43 38% 97%;
    --primary: 43 38% 97%;
    --primary-foreground: 222 73% 12%;
    --secondary: 222 50% 18%;
    --secondary-foreground: 43 38% 97%;
    --muted: 222 50% 18%;
    --muted-foreground: 240 7% 70%;
    --accent: 222 50% 18%;
    --accent-foreground: 43 38% 97%;
    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 222 50% 20%;
    --input: 222 50% 20%;
    --ring: 43 38% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
